# 1. Signaler à GitHub que le dossier des dépendances tierces est du code externe (vendored)
#    Linguist ignorera ces fichiers dans la barre des langages du dépôt.
third_party/** linguist-vendored
Cityhash_wrapper/** linguist-vendored
Lz4/** linguist-vendored
Xxh3/** linguist-vendored

# 2. Forcer la détection de tous les fichiers d'en-tête .h en C pur
*.h linguist-language=C
